<%- include("partials/header.ejs") %>

<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="images/Blog-Home-img.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Welcome to my Fancy Blog!</h1>
        <p class="lead">Greetings and welcome to our Fancy Blog! We are delighted to see you as a part of our community. Feel free to discover, interact, and collaborate with us to create something wonderful. </p>
      </div>
      <header class="entry-header"><h1 class="entry-title" itemprop="headline"><%= Title %></h1>
      </header>
      <div class="box">
        <% for(let post of posts){%>
        <div class="item">
            <form action="/delete" method="post">
              <input type="checkbox" onchange="this.form.submit()" name="deleteItemId" value="<%= post.post_id %>">
            </form>
            <p id="title<%=post.post_id%>">
              <%= post.post_content %>
            </p>
          <form class="edit" action="/edit" method="post">
            <input type="hidden" name="updatedItemId" value="<%= post.post_id %>">
            <input id="input<%= post.post_id %>" type="text" name="updatedItemTitle" value="<%= post.post_content %>" autocomplete="off"
              autofocus="true" hidden="true">
            <button id="done<%=post.post_id%>" class="edit" type="submit" hidden><img class="icon"
                src="/images/check-solid.svg" alt="tick image"></button>
          </form>
          <button id="edit<%=post.post_id%>" class="edit" onclick="handler('<%=post.post_id%>')"><img class="icon"
            src="/images/pencil-solid.svg" alt="pencil image"></button>
        </div>
        <% } %>
        <form class="item" action="/add" method="post">
          <input type="text" name="newItem" placeholder="New Post" autocomplete="off" autofocus="true" />
          <button class="add" type="submit" name="list" value="none" >+</button>
        </form>
      </div>
    </div>
  </div>
  <script>
    function handler(id) {
      document.getElementById("title" + id).setAttribute("hidden", true)
      document.getElementById("edit" + id).setAttribute("hidden", true)
      document.getElementById("done" + id).removeAttribute("hidden")
      document.getElementById("input" + id).removeAttribute("hidden")
    }
  </script>

<%- include("partials/footer.ejs") %>