<%- include("partials/header.ejs") %>

<div class="container my-5">
    <div class="p-5 text-center bg-body-tertiary rounded-3">
      <h1 class="text-body-emphasis">Posts</h1>
      <p class="lead">
        <%= postsTitle %>
      </p>
      
      <form action="/Posts" method="POST">
        <label for="blogContent" class="d-inline-flex align-items-center btn btn-lg px-4">Add an article:</label><br>
        <textarea id="blogContent" name="blogContent" rows="4" cols="50"></textarea><br><br>
        <button class="d-inline-flex align-items-center btn btn-primary btn-lg px-4 rounded-pill" type="submit">Submit</button>
      </form>
    
      <% if(Essays.length > 0) { %>
        <h2>Existing Posts:</h2>
        <ul class="main-ul">
            <% Essays.forEach(function(post, index) { %>
                <li class="main-li"><%= post %></li>
                <form action="/edit/<%= index %>" method="GET" style="display: inline;">
                  <button class="btn btn-success" type="submit">Edit</button>
                </form>
                <form action="/deleteEssays/<%= index %>?_method=DELETE" method="POST" style="display: inline;">
                    <input type="hidden" name="redirect" value="/Essays">
                    <button class="btn btn-danger" type="submit">Delete</button>
                </form>
            <% }); %>
        </ul>
        <% } else { %>
            <p>No posts yet.</p>
        <% } %>
    </div>
</div>

<%- include("partials/footer.ejs") %>

